*{
    margin: 0;
    padding: 0;
    
}
.navbar-nav{
    margin-right: 0;
    padding-right: 100px;
    

}
.navbar{
    background-color: #074241;
    color: #fff;

}
.nav-item a{
    color: #fff;
}
.nav-item{
    padding-left: 10px;
}
.navbar-brand{
    color: #fff;
    padding-left: 10px; 

}
#navbar button{
    color: #fff;
}
#banner-container{
    background-color: #074241;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
}
#banner-row img{
    max-width: 65%;
    height:auto;
    display: block;
    padding-left: 30px;
}
#banner-row a{
    background-color: #fff;
    color: #000;
    border: none;
    margin-left: 20px;
    margin-top: 20px;
}  
#banner-row h3,p{
    padding-left: 20px;
    padding-top: 20px;
    text-align: center;
}
#banner-col{
    padding-left: 20px;
}
#services{
    padding-top: 20px;
    padding-bottom: 20px;
}
#services h1{
    padding-bottom: 70px;
}

#about{
    padding-top: 80px;
    padding-bottom: 80px;
}
#about h1{
    padding-bottom: 70px;
}
#about-col ul{
    padding-top: 50px;
    padding-left: 50px;
}
#about-col ul li{
    padding-top: 15px;
}
#product{
    padding-top: 80px;
    padding-bottom:80px ;
}
#product h1{
    padding-bottom: 70px;
}
#product-col2 ul{
    padding-top: 90px;
}
#product-col2 ul li{
    padding-top: 15px;
}
.mb-3{
    padding-top: 10px;
}

@media only screen and (max-width:960px)
{
    .navbar-brand{
        padding-left: 0;
    }
}
@media only screen and (max-width:760px)
{
#banner-row img{
    padding-top: 20px;
  }
  .social-col{
    width: 33%;
  }
}